:root {
  /* colors */
  --blue: #4333fd;
  /* --orange: #ff5722; */
  --green: #9eff22;
  --red: #e0115f;
  --grey: #585858;
  --lightgrey: #939393;
  --orange: #fdc333;
  /* --orange: #e80000; */
  --lightorange: #ffe39e;
  --white: #fff;
  --black: #000000;

  /* fonts */
  --primary: "Roboto Mono", monospace;
  --secondary: "Road Rage", sans-serif;
}

body {
  margin: 0;
  background-color: var(--grey);
  transition: background-color 1s linear;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
